.footer{
    margin-top:auto;
    background:linear-gradient(
        180deg,
        var(--bg),
        rgba(59,40,204,.08)
    );
    width: 100vw;
    border-top:1px solid var(--accent-border);
    padding:70px 8% 40px;
}
@media screen and (min-width:1024px) {
    .footer-container{
        max-width:1400px;
        margin:auto;
        display:grid;
        grid-template-columns:2fr 1fr 1fr 1.3fr;
        gap:60px;
    }
    
}



.footer-col{
    display:flex;
    flex-direction:column;
}

.footer-col h3{
    color:var(--text-h);
    margin-bottom:25px;
    font-size:1.2rem;
    position:relative;

}

.footer-col h3::after{
    content:"";
    width:40px;
    height:3px;
    background:var(--primary);
    position:absolute;
    left:0;
    bottom:-10px;
    border-radius:10px;
}

.about p{
    margin-top:20px;
    line-height:1.8;
    max-width:350px;
}

.logo{
    color:var(--primary);
    font-size:2rem;
}

.footer-col ul{
    display:flex;
    flex-direction:column;
    gap:18px;
    list-style:none;
}

.footer-col a{
    text-decoration:none;
    color:var(--text);
    transition:.3s;
    width:fit-content;
}

.footer-col a::before{
    display:none;
}

.footer-col a:hover{
    color:var(--primary);
    transform:translateX(8px);
}

.social-icons{
    display:flex;
    gap:18px;
    margin-top:35px;
}

.social-icons a{
    width:45px;
    height:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    background:var(--accent);
    color:var(--primary);
    transition:.35s;
    font-size:18px;
}

.social-icons a:hover{
    background:var(--primary);
    color:white;
    transform:translateY(-8px) rotate(8deg);
    box-shadow:var(--shadow);
}

.contact-info li{
    display:flex;
    align-items:center;
    gap:15px;
    color:var(--text);
}

.contact-info svg{
    color:var(--primary);
    font-size:18px;
}

.copyright{
    padding:22px;
    text-align:center;
    border-top:1px solid var(--accent-border);
    background:var(--bg);
    color:var(--text);
}