.product-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 20px;
    min-height: clamp(200px, 30vh, 400px);
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.product-card:hover{
    box-shadow: var(--shadow);
    translate: 0 -5px;
}

.product-card h2{
    font-size: 20px;
}

.bottom-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.product-price{
    grid-area: price;
    font-size: 16px;
    color : var(--primary);
}

.product-quantity{
    grid-area: quantity;
    font-size: 16px;
    color : var(--text);
}